footer {
    background-color: #9DBE9F;
    padding: 25px;
    color: rgb(252, 248, 248);
    margin-top: 50px;
    font-family: "Yu Gothic UI Semibold";
    width: 100%;
    height: 120px;

}

.contact {
    text-align: center;
    font-size: 25px;
}

.look {
    font-size: 18px;
    margin-left: 615px;
}